@font-face {
    font-family: "";
    src: url();
}
.navigation-bar {
    max-width: 1400px;
    height: 100px;
    background-color: #d8f2b8;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


li {
    display:inline;
   list-style: none;
  
  text-decoration: none;
    
}
a:hover{
    color:black;
    letter-spacing: 0.5em; 
    transition: 1s;
}

a {
    text-decoration: none;
    width: 10em;
}
    




.logo {
    
    width: 100px;
    height: 100px;
}
.logo1 {
    
    width: 100px;
    height: 100px;
    transform:scale(-1) ;
}


.main {
   
    font-style: normal;
    width: 131px;
    height: 39px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border: 0;
}

